.central {text-align: center;}
h1.superTitulo { color: blue; font-size: 26px; }
.superTitulo {font-size: 50px;}

p { background-color: yellowgreen; }

#tituloPrincipal {font-size: 46px; color: crimson;}

.minhaLista li{ color: darksalmon;}

body {
    background-image: url(./MULTILOGICA-LOGO.png);
    /* Não repete a imgaem inumeras vezes */
    background-repeat: no-repeat;
    /* Deixa a imagem fixa no background */
    background-attachment: fixed;
}

.caixa {
    margin: 10px;
    padding: 20px;
    border: 4px solid black;
    width: fit-content;
    background-color: coral;
    border-radius: 32px;
}