.imagem {
    background: url(./MULTILOGICA-LOGO.png) no-repeat;
    width: 500px;
    height: 135px;
    display: block;
    background-size: contain;
}

.imagem:hover {
    background-position: 0px 3px;
    border: 3px solid black;
}

.imagem:active {
    background-position: 20px 20px;
}